@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
}

@font-face {
  font-family: "ocr-a-std", monospace;
  font-weight: 400;
  font-style: normal;
  src: url(https://use.typekit.net/oqd0ljw.css);
}


@media (min-width: 414px) and (max-height: 896px) {
  .animate-fade-in {
    animation: fade-in 1s ease-in-out forwards;
  }
  
  .my-16 {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  .particles {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    animation: fade-in; /* You need to define 'fade-in' animation separately */
    z-index: 0;
}

  .sidebar-icon {
    width: 25%;
    display: block;
    top: 0;
    right: 0;
    box-shadow: 0.7em 0.5em #00000052;
    position: absolute;
    z-index: 1;
  }

  .icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .icon-button svg {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
  }

  .mt-4 {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 1em 0em 1em 0em;
  }
  
  .to-black {
    background: rgb(255,4,148);
    background: linear-gradient(90deg, rgba(255,4,148,1) 0%, rgba(252,96,188,1) 35%, rgba(252,44,160,1) 100%);
  }

  .sidebar {
    color: black;
    background: white;
    width: 65%;
    font-size: larger;
    line-height: 5em;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 1em 0.5em #00000052;
  }

  .ls-logo {
    width: 12em;
    display: flex;
    justify-content: center;
  }
  
  .li-menu {
    /* Add additional styling for links if needed */
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit text color */
    font-size: large;
    color: black;
    line-height: 2em;
    font-size: larger;
    list-style: none;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .li-menu-sm {
    /* Add additional styling for links if needed */
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit text color */
    font-size: large;
    color: black;
    line-height: 2em;
    font-size: medium;
    list-style: none;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }


  .ls-copyright {
    --tw-text-opacity: 1;
    color: rgb(255 255 255);
    text-shadow: 3px 2px #00000052;
    font-size: 1.3em;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    margin-bottom: 1.5em;
  }

  .ls-main-logo {
    margin-top: -1em;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 70%;
  }
}

@media all {

  /* Contact Form */

  .pages-header-contact {
    width: 100%;
    height: 250px; /* Adjust height as needed */
    justify-content: center;
    align-items: center;
    z-index: 2000;
    font-family: "ocr-a-std", monospace;
    padding: 4em 5em 4em 5em;
  }

  .pages-header-contact h1 {
    font-size: 2em;
    font-weight: bolder;
    letter-spacing: 3px;
    text-align: center;
    padding: 1em;
  }

  .contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    z-index: 10; /* Ensure it appears above other content */
    position: relative; /* For absolute positioning of the form */
  }
  
  .contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  margin: 2rem auto;
  padding-bottom: 7em;
}

.contact-form label {
  font-weight: 600;
  color: #222;
  margin-bottom: 0.25rem;
}

.contact-form input,
.contact-form textarea {
  margin-top: 0.5rem;
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  padding: 0.75rem;
  font-size: 1rem;
  transition: border-color 0.2s, box-shadow 0.2s;
  background: #f9fafb;
  color: #222;
  resize: none;
  font-weight: 400;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #222;
  box-shadow: 0 0 0 2px #2563eb33;
}

.contact-form button[type="submit"] {
  background: #222;
  color: #fff;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background 0.2s;
  margin-top: 0.5rem;
}

.contact-form button[type="submit"]:hover {
  background: #3b3b3b;
}

  .fa-brands, .fab {
    font-weight: 400;
    font-size: 2em;
    margin: 0.2em 0.2em;
    margin-top: 1em;
    margin-bottom: 1.6em;
  }

  .animate-fade-in {
    animation: fade-in 1s ease-in-out forwards;
  }

  body {
    max-height: 800px; /* Limiting maximum height */
    overflow-y: auto;
    overflow-x: hidden;
  }

  .my-16 {
    margin-top: 1rem;
    margin-bottom: -10rem;
  }

  .particles {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    animation: fade-in; /* You need to define 'fade-in' animation separately */
    z-index: 0;
}

  .sidebar-icon {
    width: 10%;
    display: block;
    top: 0;
    right: 0;
    box-shadow: 0.7em 0.5em #00000052;
    position: absolute;
    z-index: 1;
  }

  .icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .icon-button svg {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
  }

  .mt-4 {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 1em 0em 1em 0em;
}

  .to-black {
    background: rgb(255,4,148);
    background: linear-gradient(90deg, rgba(255,4,148,1) 0%, rgba(252,96,188,1) 35%, rgba(252,44,160,1) 100%);
  }

  .sidebar {
    color: black;
    background: white;
    width: 40%;
    font-size: larger;
    line-height: 5em;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 1em 0.5em #00000052;
    overflow: auto;
  }

  .ls-logo {
    width: 17em;
    display: flex;
    justify-content: center;
    padding-top: 1.6em
  }
  
  .li-menu {
    /* Add additional styling for links if needed */
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit text color */
    font-size: large;
    color: black;
    line-height: 2em;
    font-size: larger;
    list-style: none;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .li-menu-sm {
    /* Add additional styling for links if needed */
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit text color */
    font-size: large;
    color: black;
    line-height: 2em;
    font-size: medium;
    list-style: none;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }


  .ls-copyright {
    --tw-text-opacity: 1;
    color: rgb(255 255 255);
    text-shadow: 3px 2px #00000052;
    font-size: 1.3em;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    margin-bottom: 1.5em;
  }

  .ls-main-logo {
    margin-top: -1em;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 35%;
  }

    .md\:bottom-8 {
      bottom: 2rem;
    }

    .md\:my-8 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .md\:block {
      display: block;
    }

    .md\:flex {
      display: flex;
    }

    .md\:grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .md\:gap-8 {
      gap: 2rem;
    }

    .md\:space-y-16 > :not([hidden]) ~ :not([hidden]) {
      --tw-space-y-reverse: 0;
      margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(4rem * var(--tw-space-y-reverse));
    }

    .md\:p-16 {
      padding: 4rem;
    }

    .md\:p-8 {
      padding: 2rem;
    }

    .md\:py-24 {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    .md\:pt-24 {
      padding-top: 6rem;
    }

    .md\:text-center {
      text-align: center;
    }

    .md\:text-9xl {
      font-size: 0rem;
      line-height: 0.5;
      width: 35%;
    }


  .text-zinc-500 {
    --tw-text-opacity: 1;
    color: rgb(255 255 255);
    font-weight: bold;
    text-shadow: 3px 2px #00000052;
    font-size: 1.3em;
    z-index: 2000;
  }

  .bg-white {
    --tw-bg-opacity: 1;
    /* background-color: rgb(255 255 255 / var(--tw-bg-opacity)); */
  }

  .-z-10 {
    z-index: 2000;
  }

  ::before,
  ::after {
    box-sizing: border-box; /* 1 */
    border-width: 0; /* 2 */
    /*border-style: solid; /* 2 */
    /*border-color: #e5e7eb; /* 2 */
  }

  .pages-header {
    width: 100%;
    height: 300px; /* Adjust height as needed */
    justify-content: center;
    align-items: center;
    z-index: 2000;
    font-family: "ocr-a-std", monospace;
    padding: 4em 5em 4em 5em;
  }

  .pages-header h1 {
    font-size: 2em;
    font-weight: bolder;
    letter-spacing: 3px;
    text-align: center;
    padding: 1em;
  }

  .pages-sub-title {
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    padding: 0em;
  }

  .pages-sub-title-desc {
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 0px;
    text-align: center;
    padding: 0em;
    width: 50%;
    margin: 0 auto;
    line-height: 2;
  }

   .pages-sub-title-desc-p{
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 0px;
    text-align: center;
    padding: 0em;
    width: 100%;
    margin: 0 auto;
    line-height: 2;
    padding-top: 1em
  }

  .pages-sub-title-sm {
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 2em;
  }

  .ls-pages-logo {
    width: 590px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 2000;
  }

  .pages-footer {
    width: 100%;
    height: 100px; /* Adjust height as needed */
    background-color: #000000; /* Light gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    font-family: "ocr-a-std", monospace;
    font-size: 0.9em;
  }

  .pages-apps-slideshow {
    width: 100%;
    height: 500px; /* Adjust height as needed */
    background-color: #ececec; /* Light gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    font-family: "ocr-a-std", monospace;
    font-size: 0.9em;
  }

  .pages-apps-published {
    width: 100%;
    height: 200px; /* Adjust height as needed */
    justify-content: center;
    align-items: center;
    z-index: 2000;
    font-family: "ocr-a-std", monospace;
    font-size: 0.9em;
    padding-top: 5em;
  }

  .pages-apps-published-desc {
    width: 100%;
    height: 100px; /* Adjust height as needed */
    justify-content: center;
    align-items: center;
    z-index: 2000;
    font-family: "ocr-a-std", monospace;
    font-size: 0.9em;
    padding-top: 0em;
  }

  .pages-apps-published h2 {
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
    padding: 1em;
    text-transform: capitalize;
  }

  .pages-apps-published div {
    display: flex; /* Align items in a row */
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
    gap: 3rem; /* Add spacing between the images */
  }

  .pages-apps-published-desc div {
    display: flex; /* Align items in a row */
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
    gap: 3rem; /* Add spacing between the images */
  }
  
  .pages-apps-published img {
    width: 180px; /* Resize the images to make them smaller */
    height: auto; /* Maintain the aspect ratio */
  }

  .pages-apps-preview {
    margin: 1em;
    text-align: center;
  }

  .pages-apps-preview .image-container {
    display: flex; /* Align images in a row */
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
    gap: 4em; /* Add spacing between the images */
    padding: 5em;
    height: 500px;
  }

  .pages-apps-preview img {
    width: 350px; /* Resize the images */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 8px; /* Optional: Add rounded corners */
    transition: transform 0.3s ease; /* Optional: Add hover effect */
  }

  .pages-apps-preview img:hover {
    transform: scale(1.05); /* Slightly enlarge the image on hover */
  }


  .li-menu,
  .li-menu-sm {
    font-family: "Outfit", sans-serif;
  }
} 

@media (max-width: 500px) {
  .animate-fade-in {
    animation: fade-in 1s ease-in-out forwards;
  }

  .mt-4 {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0.5em 0em 0.5em 0em;
  }


  body {
    max-height: 800px; /* Limiting maximum height */
    overflow-y: auto; /* Adding vertical scrollbar if content exceeds height */
    overflow-x: hidden;
  }

  .to-black {
    background: rgb(255,4,148);
    background: linear-gradient(90deg, rgba(255,4,148,1) 0%, rgba(252,96,188,1) 35%, rgba(252,44,160,1) 100%);
  }

  .particles {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    animation: fade-in; /* You need to define 'fade-in' animation separately */
    z-index: 0;
}

  .sidebar-icon {
    width: 20%;
    display: block;
    top: 0;
    right: 0;
    box-shadow: 0.7em 0.5em #00000052;
    position: absolute;
    z-index: 1;
  }

  .ls-copyright {
    --tw-text-opacity: 1;
    color: rgb(255 255 255);
    text-shadow: 3px 2px #00000052;
    font-size: 1.3em;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    margin-bottom: 6.8em;
    margin-top: 0.1em;
  }

  .ls-main-logo {
    margin-top: -8em;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 80%;
  }

  .my-16 {
    margin-top: 0.6rem;
    margin-bottom: -1rem;
}

  .sidebar {
    color: black;
    background: white;
    width: 75%;
    font-size: larger;
    line-height: 5em;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 1em 0.5em #00000052;
  }

  .ls-logo {
    width: 14em;
    display: flex;
    justify-content: center;
  }

  .li-menu {
    /* Add additional styling for links if needed */
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit text color */
    font-size: large;
    color: black;
    line-height: 2em;
    font-size: larger;
    list-style: none;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .li-menu-sm {
    /* Add additional styling for links if needed */
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit text color */
    font-size: large;
    color: black;
    line-height: 2em;
    font-size: medium;
    list-style: none;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }


}