@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
}

@media all {
  .to-black {
    background: rgb(255,4,148);
    background: linear-gradient(90deg, rgba(255,4,148,1) 0%, rgba(252,96,188,1) 35%, rgba(252,44,160,1) 100%);
  }
  
  .text-zinc-500 {
    --tw-text-opacity: 1;
    color: rgb(255 255 255);
    font-weight: bold;
    text-shadow: 3px 2px #00000052;
    font-size: 1.3em;
    z-index: 2000;
  }

  .ls-width {
    margin-top: -1em;
  }
}
@media (min-width: 768px) {

    .md\:bottom-8 {
      bottom: 2rem;
    }

    .md\:my-8 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .md\:block {
      display: block;
    }

    .md\:flex {
      display: flex;
    }

    .md\:grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .md\:gap-8 {
      gap: 2rem;
    }

    .md\:space-y-16 > :not([hidden]) ~ :not([hidden]) {
      --tw-space-y-reverse: 0;
      margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(4rem * var(--tw-space-y-reverse));
    }

    .md\:p-16 {
      padding: 4rem;
    }

    .md\:p-8 {
      padding: 2rem;
    }

    .md\:py-24 {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    .md\:pt-24 {
      padding-top: 6rem;
    }

    .md\:text-center {
      text-align: center;
    }

    .md\:text-9xl {
      font-size: 0rem;
      line-height: 0.5;
      width: 35%;
    }
  
  .my-16 {
    margin-top: 4em;
    margin-bottom: 0em;
  }

  .text-zinc-500 {
    --tw-text-opacity: 1;
    color: rgb(255 255 255);
    font-weight: bold;
    text-shadow: 3px 2px #00000052;
    font-size: 1.3em;
    z-index: 2000;
  }

  .bg-white {
    --tw-bg-opacity: 1;
    /* background-color: rgb(255 255 255 / var(--tw-bg-opacity)); */
  }

  .-z-10 {
    z-index: 2000;
  }

  ::before,
  ::after {
    box-sizing: border-box; /* 1 */
    border-width: 0; /* 2 */
    /*border-style: solid; /* 2 */
    /*border-color: #e5e7eb; /* 2 */
  }


} 

