@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
}


@media (min-width: 414px) and (max-height: 896px) {
  .animate-fade-in {
    animation: fade-in 1s ease-in-out forwards;
  }
  
  .my-16 {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  .particles {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    animation: fade-in; /* You need to define 'fade-in' animation separately */
    z-index: 0;
}

  .sidebar-icon {
    width: 25%;
    display: block;
    top: 0;
    right: 0;
    box-shadow: 0.7em 0.5em #00000052;
    position: absolute;
    z-index: 1;
  }

  .icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .icon-button svg {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
  }

  .mt-4 {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 2em 0em 2em 0em;
  }

  .to-black {
    background: rgb(255,4,148);
    background: linear-gradient(90deg, rgba(255,4,148,1) 0%, rgba(252,96,188,1) 35%, rgba(252,44,160,1) 100%);
  }

  .sidebar {
    color: black;
    background: white;
    width: 65%;
    font-size: larger;
    line-height: 5em;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 1em 0.5em #00000052;
  }

  .ls-logo {
    width: 12em;
    display: flex;
    justify-content: center;
  }
  
  .li-menu {
    /* Add additional styling for links if needed */
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit text color */
    font-size: large;
    color: black;
    line-height: 2em;
    font-size: larger;
    list-style: none;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .li-menu-sm {
    /* Add additional styling for links if needed */
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit text color */
    font-size: large;
    color: black;
    line-height: 2em;
    font-size: medium;
    list-style: none;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }


  .ls-copyright {
    --tw-text-opacity: 1;
    color: rgb(255 255 255);
    text-shadow: 3px 2px #00000052;
    font-size: 1.3em;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    margin-bottom: 1.5em;
  }

  .ls-main-logo {
    margin-top: -1em;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 70%;
  }
}

@media all {
  .animate-fade-in {
    animation: fade-in 1s ease-in-out forwards;
  }

  body {
    max-height: 800px; /* Limiting maximum height */
    overflow-y: auto; /* Adding vertical scrollbar if content exceeds height */
  }

  .my-16 {
    margin-top: 1rem;
    margin-bottom: -10rem;
  }

  .particles {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    animation: fade-in; /* You need to define 'fade-in' animation separately */
    z-index: 0;
}

  .sidebar-icon {
    width: 10%;
    display: block;
    top: 0;
    right: 0;
    box-shadow: 0.7em 0.5em #00000052;
    position: absolute;
    z-index: 1;
  }

  .icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .icon-button svg {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
  }

  .mt-4 {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 2em 0em 2em 0em;
  }

  .to-black {
    background: rgb(255,4,148);
    background: linear-gradient(90deg, rgba(255,4,148,1) 0%, rgba(252,96,188,1) 35%, rgba(252,44,160,1) 100%);
  }

  .sidebar {
    color: black;
    background: white;
    width: 40%;
    font-size: larger;
    line-height: 5em;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 1em 0.5em #00000052;
  }

  .ls-logo {
    width: 20em;
    display: flex;
    justify-content: center;
  }
  
  .li-menu {
    /* Add additional styling for links if needed */
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit text color */
    font-size: large;
    color: black;
    line-height: 2em;
    font-size: larger;
    list-style: none;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .li-menu-sm {
    /* Add additional styling for links if needed */
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit text color */
    font-size: large;
    color: black;
    line-height: 2em;
    font-size: medium;
    list-style: none;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }


  .ls-copyright {
    --tw-text-opacity: 1;
    color: rgb(255 255 255);
    text-shadow: 3px 2px #00000052;
    font-size: 1.3em;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    margin-bottom: 1.5em;
  }

  .ls-main-logo {
    margin-top: -1em;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 35%;
  }

    .md\:bottom-8 {
      bottom: 2rem;
    }

    .md\:my-8 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .md\:block {
      display: block;
    }

    .md\:flex {
      display: flex;
    }

    .md\:grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .md\:gap-8 {
      gap: 2rem;
    }

    .md\:space-y-16 > :not([hidden]) ~ :not([hidden]) {
      --tw-space-y-reverse: 0;
      margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(4rem * var(--tw-space-y-reverse));
    }

    .md\:p-16 {
      padding: 4rem;
    }

    .md\:p-8 {
      padding: 2rem;
    }

    .md\:py-24 {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    .md\:pt-24 {
      padding-top: 6rem;
    }

    .md\:text-center {
      text-align: center;
    }

    .md\:text-9xl {
      font-size: 0rem;
      line-height: 0.5;
      width: 35%;
    }


  .text-zinc-500 {
    --tw-text-opacity: 1;
    color: rgb(255 255 255);
    font-weight: bold;
    text-shadow: 3px 2px #00000052;
    font-size: 1.3em;
    z-index: 2000;
  }

  .bg-white {
    --tw-bg-opacity: 1;
    /* background-color: rgb(255 255 255 / var(--tw-bg-opacity)); */
  }

  .-z-10 {
    z-index: 2000;
  }

  ::before,
  ::after {
    box-sizing: border-box; /* 1 */
    border-width: 0; /* 2 */
    /*border-style: solid; /* 2 */
    /*border-color: #e5e7eb; /* 2 */
  }


} 

@media (max-width: 500px) {
  .animate-fade-in {
    animation: fade-in 1s ease-in-out forwards;
  }

  .mt-4 {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 1em 0em 0.5em 0em;
  }


  body {
    max-height: 800px; /* Limiting maximum height */
    overflow-y: auto; /* Adding vertical scrollbar if content exceeds height */
  }

  .to-black {
    background: rgb(255,4,148);
    background: linear-gradient(90deg, rgba(255,4,148,1) 0%, rgba(252,96,188,1) 35%, rgba(252,44,160,1) 100%);
  }

  .particles {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    animation: fade-in; /* You need to define 'fade-in' animation separately */
    z-index: 0;
}

  .sidebar-icon {
    width: 20%;
    display: block;
    top: 0;
    right: 0;
    box-shadow: 0.7em 0.5em #00000052;
    position: absolute;
    z-index: 1;
  }

  .ls-copyright {
    --tw-text-opacity: 1;
    color: rgb(255 255 255);
    text-shadow: 3px 2px #00000052;
    font-size: 1.3em;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    margin-bottom: 6.6em;
    margin-top: 0.1em;
  }

  .ls-main-logo {
    margin-top: -8em;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 80%;
  }

  .my-16 {
    margin-top: 0.6rem;
    margin-bottom: -1rem;
}

  .sidebar {
    color: black;
    background: white;
    width: 75%;
    font-size: larger;
    line-height: 5em;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 1em 0.5em #00000052;
  }

  .ls-logo {
    width: 14em;
    display: flex;
    justify-content: center;
  }

  .li-menu {
    /* Add additional styling for links if needed */
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit text color */
    font-size: large;
    color: black;
    line-height: 2em;
    font-size: larger;
    list-style: none;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .li-menu-sm {
    /* Add additional styling for links if needed */
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit text color */
    font-size: large;
    color: black;
    line-height: 2em;
    font-size: medium;
    list-style: none;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }


}